@font-face{
  font-family: "GothamProBold";
  src: url("../GothamPro/GothamProBold/GothamProBold.eot");
  src: url("../GothamPro/GothamProBold/GothamProBold.eot#iefix ") format("embedded-opentype"),
       url("../GothamPro/GothamProBold/GothamProBold.woff") format("woff"),
       url("../GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
       font-style: normal;
       font-weight: bold;

}
@font-face{
  font-family: "GothamProRegular";
  src: url("../GothamPro/GothamProRegular/GothamProRegular.eot");
  src: url("../GothamPro/GothamProRegular/GothamProRegular.eot#iefix ") format("embedded-opentype"),
       url("../GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"),
       url("../GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype");
       font-style: normal;
       font-weight: normal;

}
body{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "GothamProBold";

}
.container{
  max-width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.clearfix::after{
  content: " ";
  display: table;
  clear: both;
}
.page-header{
  background: url("../img/bg_header.jpg") no-repeat 50% 50%;
  background-size: cover;
  min-height: 745px;
  min-width:768px;
}
.main-nav{
  text-align: center;
  padding-top: 40px;
  width: 100%;
}
.main-nav__list{
  padding: 0;
  margin: 0 ;
  list-style: none;
}
.main-nav__list li{
  display: inline-block;
  text-align: center;
  font-size: 0;
  vertical-align: bottom;
}
.main-nav__item{
  width: 15%;
}
.main-nav__logo{
  width: 18%;
}
.main-nav__item--link{
   text-decoration: none;
   color: #fff;
   text-transform: uppercase;
   font-size: 16px;
   line-height: 32px;
   letter-spacing: 0.15em;
}
.main-nav__item--link:hover{
  color: #ccc;
}
.page-header__wrap{
    margin-top: 224px;
    text-align: center;
}
.page-header__headline{
  text-align: center;
  margin: 0;
  font-size: 36px;
  line-height: 56px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.page-header__text{
  font-family: "GothamProRegular";
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  text-transform: lowercase;
  letter-spacing: 0.15em;
}
.btn{
  background: #16a085;
  border: 1px solid #16a085;
  padding: 15px 25px;
  border-radius: 2px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.15em;
}
.btn:hover{
  color: #ccc;
}
.social-icon{
  text-align: center;
  padding: 260px 2% 30px;
}

.page-content{
  /*max-width: 1280px;*/
 min-width: 768px;
  background: url("../img/screen.png") no-repeat 80% -100%;
  
  min-height: 550px;
  
}
.content-wrap{
  /*position: relative;
  min-height: 398px;
  overflow: hidden;*/
}
.columns-wrap{
  position: relative;
  min-height: 398px;
  overflow: hidden;
}
.column-left{
    width: 45%;
    text-align: left;
    padding-top: 120px;
}
.page-content__headline{
  text-align: left;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 18px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  color: #16a085;
  letter-spacing: 0.15em;
}
.page-content__text{
  font-family: "GothamProRegular";
   text-align:left;
   padding-bottom: 42px;
   margin: 0;
   font-size: 12px;
   color: #373737;
   line-height: 24px;
   letter-spacing: 0.15em;
}
.page-content__screen{
  /*position: absolute;
  margin: 0;
  top: 0;
  left: 34%;*/
}

.page-design{
  min-width: 768px;
  /*max-width: 1280px;*/
  position: relative;
  padding-top: 145px;

}
.page-design .owl-item{
  width: 1240;
  min-height: 398px;
}
.page-design .owl-controls{
  position: absolute;
  right: 40%;
  bottom: 15%;
}
.page-design__phone{
  position: absolute;
  top: 0;
  left: 20px;
  margin: 0;
}
.column-right{
  width: 45%;
  float: right;
  text-align: left;
}
.page-design__headline{
  text-align: left;
  margin: 0;
  padding-bottom: 40px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  color: #16a085;
  letter-spacing: 0.15em;
}
.page-design__article{
  font-family: "GothamProRegular";
  text-align:left;
  text-align: left;
  margin: 0;
  padding-bottom: 40px;
  font-size: 12px;
  color: #373737;
  line-height: 24px;
  letter-spacing: 0.15em;
}
.page-design__date{
  margin: 0;
  text-align: left;
  font-size: 12px;
  line-height: 12px;
  color: #373737;
  padding-top: 64px;
}

.slider {
  position: relative;
}
/*.page-design__icon{
  text-align: left;
  margin: 0;
  position: absolute;
  bottom: 50px;
  right: 450px;
}*/
.page-portfolio{
  min-width: 768px;
  /*max-width: 1280px;*/
  background: #f5f6f7;
  padding-top: 119px;
  padding-bottom: 119px;
  position: relative;
}
.page-portfolio__article{
  float: left;
  width: 19%;
  margin-right: 8%;
}
.page-portfolio__logo{
  padding-top: 40px;
  padding-bottom: 25px;
  margin: 0;
  text-align: center;
}
.page-portfolio__headline{
  margin: 0;
  text-align: center;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.page-portfolio__text{
  font-family: "GothamProRegular";
  margin: 0;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  color: #373737;
  letter-spacing: 0.15em;
}
.page-portfolio__foto{
  /*float: left;
  width: 35%;
  overflow: hidden;*/
  margin-right: 4%;
}
.page-portfolio__foto img{
  display: block;
  max-width: 100%;
  height: auto;
}
.page-portfolio .owl-item{
 /* width: 370px;*/
}
.page-portfolio__wrap{
  float: left;
  width: 69%;
}
.page-portfolio__wrap .owl-theme .owl-controls{
  /*margin-top: 10px;*/
  /*text-align: right;*/
  position: absolute;
  top: -18%;
  right: 1%;
}
.page-email{
  background: url("../img/bg_email.png") no-repeat 50% 50%;
  background-size: cover;
  min-width:768px;
  min-height: 790px;
  margin: 0 auto;
}
.page-email__form{
  text-align: center;
  padding-top: 345px;
}
.page-email__headline{
  display: block;
  text-align: center;
  padding-bottom: 25px;
  font-size: 24px;
  line-height: auto;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.15em;
}

input[type="email"]{
  font-family: "GothamProRegular";
  font-size: 16px;
  color: #373737;
  text-transform: uppercase;
  padding:21px;
  border-radius: 2px 0 0 2px;
  border: 1px solid #fff;
  letter-spacing: 0.15em;
  display: inline-block;
  vertical-align: top;
  width: 280px;
} 
.page-email__input{
  font-size: 0;
}
.page-email__btn{
  display: inline-block;
  vertical-align: top;
  padding: 17px;
  background: #16a085;
  border-radius: 0 2px 2px 0;
  border: none;
}
.page-email__btn:hover{
  color: #ccc;
}
.page-download{
  min-width: 768px;
  padding-top: 90px;
  padding-bottom: 110px;
  background: #f5f6f7;
}
.page-download__headline{
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #373737;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.page-download__text{
  text-align: center;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 22px;
  color: #373737;
  text-transform: uppercase;
   font-family: "GothamProRegular";
   letter-spacing: 0.15em;
}
.page-download__links{
  text-align: center;
  font-size: 0;

}
.page-download__link-item{
  display: inline-block;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background: #1abc9c;
  color: #fff;
  padding: 14px 0 15px 20px;
  border-radius: 2px 2px 2px 2px;
  margin-right: 2%;
  letter-spacing: 0.15em;
}
.page-download__link-item:last-child {
  margin: 0;
}



.page-download__link-item:hover i:before,
.page-download__link-item:hover {
  color: #ccc;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s;
}




.page-footer{

  min-width: 768px;
  padding-top: 45px;
  padding-bottom: 30px;
}
.page-footer__link{
  float: left;
  
}
.page-footer__logo{
  float: right;
}
.page-footer__link--discr{
  display: inline-block;
  text-align: left;
  font-family: "GothamProBold";
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #373737;
  letter-spacing: 0.15em;
}
.page-footer__link--discr::after{
  content: "|";
  display: inline-block;
  height: 13px;
  color: #16a085;
  padding-left: 5px;
}
.page-footer__text{
  margin: 0;  
  padding-top: 25px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #373737;
  letter-spacing: 0.15em;
}

























/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.ru - @fontawesome
 *  License - http://fontawesome.ru/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-twitter:before {
  content: "\f099";
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}
.fa-twitter:hover:before{
  color: #ccc;
}
.fa-flickr:before {
  content: "\f16e";
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}
.fa-flickr:hover:before{
  color: #ccc;
}
.fa-dribbble:before {
  content: "\f17d";
  color: #fff;
  font-size: 24px;
}
.fa-dribbble:hover:before{
  color: #ccc;
}



.fa-angle-left:before {
  content: "\f104";
  color: #000;
  font-weight: bold;
  font-size: 22px;
  /*margin-right: 10px;*/
  
}
.fa-angle-right:before {
  content: "\f105";
  color: #000;
  font-size: 22px;
  font-weight: bold;

}.fa-check:before {
  content: "\f00c";
  color: #fff;
  /*background: #16a085;*/
  /*padding:14px 20px 20px 20px;*/
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  /*border-radius: 0 2px 2px 0;*/
}

.fa-apple:before {
  content: "\f179";
  color: #fff;
  background: #16a085;
  font-size: 24px;
  padding: 13px 18px 14px 18px;
  margin-left: 80px;
  border-radius: 0 2px 2px 0;
}

.fa-android:before {
  content: "\f17b";
  color: #fff;
  background: #16a085;
  font-size: 24px;
  padding: 13px 18px 14px 18px;
  border-radius: 0 2px 2px 0;
  margin-left: 80px;
}








